.hidden {
    display: none;
}


.whole_background {
    background-image: url("../8일차/street-7690347_1920.jpg");
    background-size: cover;
}

#login-form {
    position: absolute;
    top: 30%;
    left: 45%;
    zoom: 150%;
}

#clock {
    position: absolute;
    top: 30%;
    left: 45%;
    zoom: 150%;
}

#todo-form {
    position: absolute;
    top: 30%;
    left: 45%;
    zoom: 150%;
}

.random_image_background {
    background-size: cover;
}